@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    POP Developers<br />
    Puerto Plata, 57000<br />
    Dominican Republic<br />
    <abbr title="Phone">P:</abbr>
    849-631-4461
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:emarte@oymas.edu.do">emarte@oymas.edu.do</a><br />
</address>
